boto==2.38.0
Django==1.7.7
django-suit==0.2.13
Pillow==8.2.0
psycopg2==2.6.1
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-gcm==0.2
python-mimeparse==0.1.4
pytz==2013.7
redis==2.10.5
requests==2.7.0
simplejson==3.7.3
six==1.4.1
urllib3==1.10.4
uWSGI==2.0.12
virtualenv==13.1.2
wheel==0.24.0
xattr==0.6.4
xlrd==0.9.4
xlwt==1.0.0
zope.interface==4.1.1
